.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "PT-Sans", Arial, Helvetica, sans-serif;
  color: #fff;

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.5);
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    transition: opacity linear 0.2s;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    transition: opacity linear 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }
}
