.preview {
  background-image: url(../../img/Old_Liberty_main.JPEG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  /* min-height: 600px; */
}
